body{
    background-color: black;
    font-size: 1.5em;
    text-align: justify;
}

#myTitle{
    color: crimson;
}
h1{
    color: blueviolet;
}

.h1Element{
    color: chartreuse;
}

p{
    color: antiquewhite;
}